body {
    background-image: url('img/fondohora.jpg'); /* Ruta a tu imagen de fondo */
    background-size: cover;
    background-position: center;
    font-family: Arial, sans-serif;
    color: white;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

form {
    background-color: rgba(0, 0, 0, 0.5);
    padding: 20px;
    border-radius: 10px;
    max-width: 500px;
    width: 100%;
}

h1 {
    text-align: center;
}

label,
input,
textarea {
    display: block;
    margin-bottom: 10px;
    width: 100%;
}

input[type="submit"] {
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    margin-top: 10px;
    width: auto;
    transition: background-color 0.3s ease;
}

input[type="submit"]:hover {
    background-color: #45a049;
}

/* Estilo para el botón de volver */
.back-button {
    text-align: center;
    margin-top: 20px;
}

.back-button button {
    background-color: #555;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease;
}

.back-button button:hover {
    background-color: #333;
}